.login {
    background-image: url(../images/log.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 7%;

    .login_box {
        background-color: #ffffff;
        height: 80%;
        width: 400px;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login_content {
        width: 100%;
        text-align: left;
        padding: 0 10%;
    }

    .mat-form-field {
        width: 100%;
        margin-bottom: 10px;
    }

    .heading {
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    .login_btn {
        background-color: #0d99c4;
        width: 100%;
        margin-top: 15px;
        color: #ffffff;
    }
    .c_text{
        color: #0081a9;
        cursor: pointer;
        :hover{
            opacity: 0.6;
        }
    }
}