<div>
    <div class="d-flex">
        <div>
            <img src="../../../assets/images/about.JPG" alt="about">
        </div>
        <pre class="flex-1 pre text-center">
            This is a project to develop a basic website where a consumer is provided with numerous choices of products.
            They can choose according to their convenience. They can get all this at their doorsteps.

            Tools and Technologies Used: For development, we use HTML, CSS, and TS. But, this project requires
            full-stack web development. Hence, we are learning it side by side. Some of the basic tools and technologies
            used are:
           <pre class="pre text-start pl-5">
            * Visual Studio
            * HTML
            * CSS
            * Bootstrap
            * jQuery
            * TypeScript
            * ⁠Angular material
            * ⁠API service ⁠Used observables
              ⁠Async functionalities
            * Sha.js encryption⁠
            * ⁠Shared module
            * ⁠Lazy loading
           </pre>
        </pre>
    </div>
    <div>
        <pre class="pre pt-4">
            * Search Bar: Whenever someone clicks on the search icon, a search bar popup displays from the bottom. One
            can type here to search for anything.
            * Login/Sign-up form: If the person clicks on ‘Create Account’ on the form, Sign up form will open up. And
            if he/she again clicks on ‘Already have Account?’, then Log In form pops up again.
            * Featuring Items: Here, we will show all the new and amazing products on the website. 
            * Product Lists: We will make many product lists. But, in the sample, we have only made two lists. Here, we
            will display various products. We will also add the “Add to cart” option. Each product will be in the form
            of cards containing the image, price, and name of the products.
            * Sale Boxes: Here, we will show various items with the images and, of course with the sale tags.

            * Email: This input field is used to take the email as input from the user.
            * Password: This input field is used to take the password as input from the user.
            * Forget Username/password?: This link allows the user to change their username or password in case he/she
            forgets.
            * Create a new account: This link takes the user to the signup page in case they want to create a new
            account.
            * Submit: This button is used to authenticate and give access to the verified user.Will navigate to the
            product page.
            * Product page: Here search bar and the product name and product images will be displayed.
            * Search bar: Helps users find the exact products they're looking on our website for by matching keywords.
        </pre>
    </div>
</div>